{% extends 'blog_layout.html.twig' %}
{% block title %}{% trans %}Blog{% endtrans %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2> -- {% trans %} Page {% endtrans %} {{currentPage}} {% trans %} of {% endtrans %} {{ posts.pageCount }} -- </h2>
</div>
{% if app.request.get('_route') == 'app_blog_category' %}
<div class="d-flex justify-content-center">
    {% if posts.items != null %}
        <h3>{% trans %}You are browsing{% endtrans %} <span class="text-success">{{posts[0].category.name}}</span> {% trans %}category{% endtrans %}</h3>
    {% else %}
        <h3>{% trans %}This category is empty{% endtrans %}</h3>
    {% endif %}
</div>
{% endif %}
{% for post in posts %}
    <div class="container-fluid border border-4 my-4">
        <h2>{{post.title}}</h2>
        <label>{% trans %}Date{% endtrans %}: {{post.date|date('d.m.Y')}}<i class="p-1 bi bi-calendar3"></i></label>
            {% if post.category != null %}
            <a href="{{path('app_blog_category',{'category':post.category.id})}}" class="btn btn-sm btn-primary">{{post.category.name}}</a>
            {% endif %}
        <hr>
        {% if post.content|length > 300 %}
            <p>{{post.content|slice(0,300)}}...</p>
        {% else %}
            <p>{{post.content}}</p>
        {% endif %}
        <a href="{{path('app_post_read',{'id':post.getId()})}}" class="btn btn-outline-success mb-2">{% trans %}Read more{% endtrans %}</a>
    </div>
{% endfor %}

<div class="d-flex justify-content-center">
{{knp_pagination_render(posts)}}
</div>
{% endblock %}