{% extends 'blog_layout.html.twig' %}
{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block content %}

{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message | trans }}
        </div>
    {% endfor %}
{% endfor %}

<h2>{% trans %}Contact form{% endtrans %}</h2>
<hr>
<div class="container">
    {{form_start(form)}}

    <div class="mb-3">
        {{form_label(form.email)}}
        {{form_widget(form.email)}}
    </div>
    <div class="mb-3">
        {{form_label(form.subject)}}
        {{form_widget(form.subject)}}
    </div>
    <div class="mb-3">
        {{form_label(form.message)}}
        {{form_widget(form.message)}}
    </div>
    <div class="mb-3">
        {{form_widget(form.send)}}
    </div>
    {{form_end(form)}}
</div>

{% endblock %}