{% extends 'admin_layout.html.twig' %}

{% block main %}

<h1 class="pb-2">{% trans %}Banner panel{% endtrans %}</h1>

<h3>{% trans %}Current banner{% endtrans %}:</h3>
{% if banner is null %}
    <h4>{% trans %}No banner yet{% endtrans %}</h4>
    <div class="d-flex justify-content-center p-4">
        <a href="{{path('app_admin_banner_change')}}" class="btn btn-primary m-1">{% trans %}Add banner{% endtrans %}</a>
    </div>
{% else %}

    <h4>{{banner.image}}</h4>

    <div class="container-fluid p-0">
        <img class="w-100" height="300px" src="{{ asset('images/') ~ banner.image }}" alt="{{banner.altText}}"/>
    </div>

    <div class="d-flex justify-content-center p-4">
    <a href="{{path('app_admin_banner_change')}}" class="btn btn-primary m-1">{% trans %}Change current banner{% endtrans %}</a>
    <a href="{{path('app_admin_banner_disable',{'banner':banner.id})}}"
    {% if banner.active %}
        class="btn btn-danger m-1">
        {% trans %}Disable banner{% endtrans %}
    {% else %}
        class="btn btn-success m-1">
        {% trans %}Activate banner{% endtrans %}
    {% endif %}
    </a>
    </div>

{% endif %}

{% endblock %}