{% extends 'admin_layout.html.twig' %}

{% block main %}

{% for label,messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-{{label}} mt-2">
        {{message|trans}}
    </div>
    {% endfor %}
{% endfor %}

<h1 class="pb-2">{% trans %}Change banner{% endtrans %}</h1>
<h2 class="pb-2">{% trans %}Best resolution{% endtrans %}: 1920x300</h2>
<h2 class="pb-2">{% trans %}Supported image extension{% endtrans %}: .png</h2>

{{form_start(form)}}

{{form_label(form.image)}}
{{form_widget(form.image)}}

{{form_label(form.altText)}}
{{form_widget(form.altText)}}

{{form_widget(form.submit)}}
<a href="{{path('app_admin_banner_panel')}}" class="btn btn-primary">{% trans %}Back.to.banner.panel{% endtrans %}</a>
{{form_end(form)}}


{% endblock %}