{% block checkbox_widget %}

{% if attr is not empty %}
    <div class="form-check {{attr['div_class']}}">
        <input type="checkbox" id="{{name}}" name="{{full_name}}" class="{{attr['class']}}" {% if required %} required {% endif %} {% if data %} checked {% endif %}>
    </div>
{% else %}
    <div class="form-check">
        <input type="checkbox" id="{{name}}" name="{{full_name}}" {% if required %} required {% endif %} {% if data %} checked {% endif %}>
    </div>
{% endif %}

{% endblock %}