<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SymfonyBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_homepage')}}"><i class="bi bi-house"></i> {% trans %}Homepage{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_about')}}"><i class="bi bi-star-fill"></i> {% trans %}About me{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_portfolio')}}"><i class="bi bi-suitcase-lg-fill"></i> {% trans %}Portfolio{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_blog')}}"><i class="bi bi-layout-text-window"></i> {% trans %}Blog{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_contact')}}"><i class="bi bi-person-lines-fill"></i> {% trans %}Contact{% endtrans %}</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans %}Language{% endtrans %}
          </a>
          <ul class="dropdown-menu bg-dark dropdown-menu-end">
            <li class="dropdown-item">
              <a class="nav-link" aria-current="page" href="{{path('app_homepage' ,{'_locale':'en'})}}">
              <i class="flag-icon flag-icon-us mx-2"></i>{% trans %}English{% endtrans %}
                {% if app.request.getLocale() == 'en' %}
                  <i class="bi bi-check"></i>
                {% endif %}
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link" aria-current="page" href="{{path('app_homepage' ,{'_locale':'pl'})}}">
              <i class="flag-icon flag-icon-pl mx-2"></i>{% trans %}Polish{% endtrans %}
                {% if app.request.getLocale() == 'pl' %}
                  <i class="bi bi-check"></i>
                {% endif %}
              </a>
            </li>
          </ul>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{path('app_admin')}}"><i class="bi bi-list-columns"></i> {% trans %}Admin dashboard{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{path('app_logout')}}"><i class="bi bi-box-arrow-left"></i> {% trans %}Logout{% endtrans %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>