<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SymfonyBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_homepage')}}">{% trans %}Homepage{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_about')}}">{% trans %}About me{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_portfolio')}}">{% trans %}Portfolio{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_blog')}}">{% trans %}Blog{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_contact')}}">{% trans %}Contact{% endtrans %}</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{path('app_admin')}}">{% trans %}Admin dashboard{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{path('app_logout')}}">{% trans %}Logout{% endtrans %}</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_homepage' ,{'_locale':'en'})}}">
          <i class="flag-icon flag-icon-us mx-2"></i>English
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{path('app_homepage' ,{'_locale':'pl'})}}">
          <i class="flag-icon flag-icon-pl mx-2"></i>Polski
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>