<div class="ps-0 col-sm-12">
    <div class="d-flex justify-content-center pt-3">
        <h2>{% trans %}Latest posts{% endtrans %}</h2>
    </div>
    <div class="row gy-5 gx-5 m-0 p-0">
        {% for post in posts %}
            <div class="col-md-12 col-lg-6 col-xl-3 col-xxl-3">
                <div class="d-flex justify-content-between">
                    <div class="card text-bg-dark w-100">
                        <div class="latest-post-body card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <h6 class="card-subtitle mb-2">{% trans %}Date{% endtrans %}: {{post.dateEntered|date("d.m.Y")}}</h6>
                            {% if post.shortDescription|length > 300 %}
                                <p>{{post.shortDescription|slice(0,300)}}...</p>
                            {% else %}
                                <p>{{post.shortDescription}}</p>
                            {% endif %}
                            <a href="{{path('app_post_read',{'id':post.id})}}" class="btn btn-success w-100">
                                {% trans %}Read more{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>