{% extends 'admin/base/record/edit_record.html.twig' %}

{% block form %}

<div class="container w-75">

{% if category.id != null %}
<div class="my-4">
    <h3>{% trans %}You are editing{% endtrans %} <span class="text-success">{{category.name}}</span> {% trans %}category{% endtrans %}</h3>
</div>
{% else %}
<div class="my-4">
    <h3>{% trans %}You are adding a new{% endtrans %} {% trans %}category{% endtrans %}</h3>
</div>
{% endif %}
{{form_start(categoryForm)}}

{{form_label(categoryForm.name)}}
{{form_widget(categoryForm.name)}}

{{form_widget(categoryForm.submit)}}
<a href="{{path('app_admin_category_panel')}}" class="btn btn-primary">{% trans %}Back.to.category.panel{% endtrans %}</a>

{{form_end(categoryForm)}}

</div>

{% endblock %}