{% extends 'admin/base/record/edit_record.html.twig' %}

{% block form %}

<div class="container w-75">

{% if post.id != null %}
<div class="my-4">
    <h3>{% trans %}You are editing {% endtrans %} <span class="text-success">{{post.title}} [id {{post.id}}]</span> post</h3>
</div>
{% else %}
<div class="my-4">
    <h3>{% trans %}You are adding a new{% endtrans %} post</h3>
</div>
{% endif %}
{{form_start(postForm)}}

{{form_label(postForm.title)}}
{{form_widget(postForm.title)}}


{{form_label(postForm.date.date)}}
{{form_widget(postForm.date.date,{'attr':{'class':'form-control mb-3'}})}}
{{form_label(postForm.date.time)}}
{{form_widget(postForm.date.time,{'attr':{'class':'form-control mb-3'}})}}


{{form_label(postForm.content)}}
{{form_widget(postForm.content)}}


{{form_label(postForm.category)}}
{{form_widget(postForm.category)}}


{{form_widget(postForm.submit)}}
<a href="{{path('app_admin_post_panel')}}" class="btn btn-primary">{% trans %}Back.to.post.panel{% endtrans %}</a>

{{form_end(postForm)}}

</div>

{% endblock %}