{% extends 'admin_layout.html.twig' %}

{% block main %}

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
        <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            {% if post.content|length > 50 %}
              <td>{{post.content|slice(0,50)}}...</td>
            {% else %}
              <td>{{post.content}}</td>
            {% endif %}
            <td>{{post.date|date('d/m/Y')}}</td>
            <td><a class="btn btn-primary mx-1">Edit</a><a class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
        <tr>
          <td colspan="5"><a class="btn btn-success w-100">Add new post</a></td>
        </tr>
  </tbody>
</table>
 
<div class="d-flex justify-content-center">
{{knp_pagination_render(posts)}}
</div>
{% endblock %}